body {
    background-color: #ffe6b3;
    margin: 30px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 20px 20px;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
    background-color: #b37700;
    margin: 0px 20px 20px 0px;
    //border-radius: 100px;
}

.checkbox {
    display: flex;
    margin: 0px 20px 0px 0px;
}

span {
    margin: 10px;
}